[submodule ".vim/pack/lib/start/vim-smoothie"]
	path = .vim/pack/lib/start/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule ".vim/pack/plugins/start/kotlin-vim"]
	path = .vim/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".vim/pack/plugins/start/vim-tmux-navigator.git"]
	path = .vim/pack/plugins/start/vim-tmux-navigator.git
	url = https://github.com/christoomey/vim-tmux-navigator.git
