[submodule ".vim/pack/plugins/start/vim-strip-trailing-whitespace"]
    path = .vim/pack/plugins/start/vim-strip-trailing-whitespace
    url = https://github.com/axelf4/vim-strip-trailing-whitespace.git
[submodule ".vim/pack/plugins/start/vim-smoothie"]
	path = .vim/pack/plugins/start/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule ".vim/pack/plugins/start/kotlin-vim"]
	path = .vim/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".vim/pack/plugins/start/vim-tmux-navigator"]
	path = .vim/pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-z"]
	path = .oh-my-zsh/custom/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule ".oh-my-zsh/custom/themes/spaceship-prompt"]
	path = .oh-my-zsh/custom/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
