[submodule ".vim/pack/plugins/start/vim-strip-trailing-whitespace"]
    path = .vim/pack/plugins/start/vim-strip-trailing-whitespace
    url = https://github.com/axelf4/vim-strip-trailing-whitespace.git
[submodule ".vim/pack/plugins/start/vim-smoothie"]
	path = .vim/pack/plugins/start/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule ".vim/pack/plugins/start/kotlin-vim"]
	path = .vim/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".vim/pack/plugins/start/vim-tmux-navigator"]
	path = .vim/pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://tpope.io/vim/surround.git
